rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // قواعد الأمان الخاصة ببيانات الملفات الشخصية للموظفين
    match /users/{username} {
      // يسمح لأي مستخدم مسجل بالولوج وقراءة الملفات الشخصية لتسهيل عرضها بالتطبيق
      allow read: if request.auth != null;
      
      // يسمح للموظف فقط بتعديل ملفه الشخصي الخاص (الاسم، الصورة، إلخ) بحيث يطابق الـ UID الخاص به اسم المستخدم
      // أو إذا كان المستخدم يملك صلاحية الآدمن
      allow write: if request.auth != null && (request.auth.uid == username || request.auth.token.admin == true);
    }
    
    // قواعد الأمان الخاصة بسجلات الحضور والانصراف
    match /scan_records/{recordId} {
      // يسمح للموظف بكتابة حركات حضور وانصراف خاصة به فقط
      allow create: if request.auth != null && (request.resource.data.employeeId == request.auth.uid);
      
      // المشرفون والمسؤولون يمكنهم قراءة وتعديل جميع السجلات
      allow read, update, delete: if request.auth != null && (request.auth.token.role == 'SUPERVISOR' || request.auth.token.role == 'ADMIN');
    }
  }
}
